/*

Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* TODO: При транзишн дергается весь остальной контент */
/* TODO: Прожать изображения */
/* TODO: Убрать пустые правила */
/* TODO: Проверить паддинги */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font-weight);
  color: var(--main-color, #000);
  background-image:
    repeating-linear-gradient(90deg, transparent 0px 2px, var(--gradient-grid-color, #d3d3d3) 2px 4px),
    repeating-linear-gradient(transparent 0px 2px, var(--gradient-grid-color, #d3d3d3) 2px 4px),
    linear-gradient(var(--bg-gradient-first-color, #e7e7e7) 0.01%, var(--bg-gradient-second-color, #1a1a1a));
  background-size: cover;
  background-position: 1px 1px;
  background-attachment: fixed;
}

.header,
.main,
.footer {
  max-inline-size: 700px;
  margin: 0 auto;
}

.header {
  background-color: var(--background-color, #fff);
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block-start: 120px;
  padding-block-end: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  border: 2px solid var(--main-color, #000);
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  font-weight: 400;
  text-transform: uppercase;
}

.header__description {
  font-family: inherit;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  font-weight: inherit;
  text-transform: uppercase;
  margin-block-start: 20px;
}

.header__theme-menu {
  margin-block-start: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  transition: opacity .3s ease;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: .6;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: .6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-color, #000);
  opacity: .6;
  scale: 0 1;
  transform-origin: left;
  transition: scale .3s ease;
}

.theme-menu__button:focus-visible::after {
  scale: 1 1;
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  display: block;
  position: absolute;
  font-size: inherit;
  color: currentColor;
  top: 0;
  left: -21px;
  animation: pointer .5s ease-in-out infinite alternate;
}

@keyframes pointer {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(4px);
  }
}

.card {
  display: block;
  border: 2px solid var(--main-color, #000);
  background-color: var(--background-color, #fff);
}

.card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-font-weight, 700);
  padding: 4px 10px;
}

.card__image-box {
  position: relative;
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block-start: 2px solid var(--main-color);
  border-block-end: 2px solid var(--main-color);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 11px;
  opacity: .5;
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--accent-color, #fff),
    0 1px var(--accent-color, #fff),
    1px 0 var(--accent-color, #fff),
    0 -1px var(--accent-color, #fff);
}

@supports((text-stroke: 1px var(--accent-color, #fff)) or (-webkit-text-stroke: 1px var(--accent-color, #fff))) {
  .card__label {
      -webkit-text-stroke: 1px var(--accent-color, #fff);
      text-stroke: 1px var(--accent-color, #fff);
      text-shadow: none;
  }
}

.card__content {
  padding: 25px;
}

.card__text {
  line-height: 1.16;
  margin-block-end: 27px;
}

.card__description {
  margin-block-end: 25px;
  line-height: 1.16;
}

.card__buttons-box {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.card__like-button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--main-color, #000);
  padding: 12.5px 37px;
  cursor: pointer;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: .9;
  color: var(--button-text-color, #fff);
  transition: box-shadow .3s ease;
}

.card__like-button::before {
  content: '';
  display: block;
  inset: 0;
  position: absolute;
  background-color: var(--main-color, #000);
  z-index: 1;
  scale: 0 1;
  transform-origin: left;
  transition: scale .5s ease-in-out;
}

.card__like-button:hover::before {
  scale: 1 1;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  position: relative;
  z-index: 2;
}

.like-icon {}

.button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}

.footer {
  padding-block-start: 52px;
  padding-block-end: 100px;
}

.footer__button {
  position: relative;
  margin: 0 auto;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: .9;
  color: var(--button-text-color, #fff);
  padding: 15px 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--main-color, #000);
  cursor: pointer;
  transition: box-shadow .3s ease;
}

.footer__button::before {
  content: '';
  display: block;
  inset: 0;
  position: absolute;
  background-color: var(--main-color, #000);
  z-index: 1;
  scale: 0 1;
  transform-origin: left;
  transition: scale .5s ease-in-out;
}

.footer__button:hover::before {
  scale: 1 1;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.footer__button-image-box {
  inline-size: 28px;
  block-size: 28px;
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
}