/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: 'Inter-Variable', sans-serif;
  --accent-font-family: 'PressStart2P', fantasy;
  --main-font-weight: 400;
  --title-font-weight: 700;
  --main-color: #000;
  --accent-color: #fff;
  --background-color: #fff;
  --gradient-grid-color: #d3d3d3;
  --bg-gradient-first-color: #e7e7e7;
  --bg-gradient-second-color: #1a1a1a;
  --button-text-color: #fff;
  --bg-heart: #ff0000;
}